flow_maquina_roupa.json
[{"id":"57fd999ba62c7535","type":"group","z":"c315e592.0c1948","name":"Gestão dos estados e notificações maquina da roupa","style":{"stroke":"#ff7f7f","fill":"#ffefbf","fill-opacity":"0.13","label":true,"label-position":"s","color":"#ffffbf"},"nodes":["3cd5ad682d0644da","29e236d99bb0569d","85573ebbdc61cd26","a02c46f23f9fe104","3dfc5db7a67e9dca","003cabb20a226c63","66474c05c9403325","d57248af15446b98","6115dbf2f0cfba7e","d192b99c5a884ed5","1e6e9aaaaf6103b0","c0b76b224570b3da","3d13c1e04d38d409","0b2af50cb678125a","77331463c13cd4f8","0907ee60c3c7aa62","8981c692b12bdd80","3176bd48db728f78","a439948c68e8740b"],"x":54,"y":1099,"w":1312,"h":390},{"id":"3cd5ad682d0644da","type":"template","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"mensagem a lavar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":" Máquina da loiça a lavar","output":"str","x":630,"y":1160,"wires":[["3dfc5db7a67e9dca","66474c05c9403325"]]},{"id":"29e236d99bb0569d","type":"server-state-changed","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"ligada","server":"24030ca4.c967a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.shellyem_d3ad78_channel_1_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"15","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"75","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1140,"wires":[["d57248af15446b98"],[]]},{"id":"85573ebbdc61cd26","type":"server-state-changed","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"desligada","server":"24030ca4.c967a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.shellyem_d3ad78_channel_1_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2.1","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1300,"wires":[["6115dbf2f0cfba7e"],[]]},{"id":"a02c46f23f9fe104","type":"template","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"men. fim da lavagem tele","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"A máquina de lavar loiça acabou a lavagem.\n- A lavagem durou {{payload.duration}}\n- Gastou {{payload.energy}}kwh\n- A lavagem custou {{payload.cost}}€","output":"str","x":990,"y":1220,"wires":[["3dfc5db7a67e9dca"]]},{"id":"3dfc5db7a67e9dca","type":"telegrambot-notify","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"Notify Telegram","bot":"a12ed182.4f5be","chatId":"790020145","message":"","parseMode":"","x":1240,"y":1200,"wires":[]},{"id":"003cabb20a226c63","type":"api-call-service","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"notify Alexa","server":"24030ca4.c967a4","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_ricardo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"<voice name='Ines'><lang xml:lang='pt-PT'> A máquina de lavar, acabou a lavagem. Esta lavagem durou {{payload.duration}}, e gastou {{payload.energy}} quilowatts hora. </lang></voice>\",\"data\":{\"type\":\"announce\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1300,"wires":[[]]},{"id":"66474c05c9403325","type":"api-call-service","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"notify mobile app","server":"24030ca4.c967a4","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pocox4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Máquina da Loiça\",\"message\":\"{{payload}}\",\"data\":{\"vibrationPattern\":\"50, 100, 900, 100, 900\",\"channel\":\"maquinas\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1260,"wires":[[]]},{"id":"d57248af15446b98","type":"switch","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"= off","property":"#:(storeInFile)::estado_maquina_roupa","propertyType":"flow","rules":[{"t":"eq","v":"Desligada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1160,"wires":[["3cd5ad682d0644da","1e6e9aaaaf6103b0"]]},{"id":"6115dbf2f0cfba7e","type":"switch","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"= a lavar","property":"#:(storeInFile)::estado_maquina_roupa","propertyType":"flow","rules":[{"t":"neq","v":"Desligada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":1240,"wires":[["d192b99c5a884ed5"]]},{"id":"d192b99c5a884ed5","type":"change","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"set to desligada","rules":[{"t":"set","p":"#:(storeInFile)::estado_maquina_roupa","pt":"flow","to":"desligada","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1280,"wires":[["c0b76b224570b3da"]]},{"id":"1e6e9aaaaf6103b0","type":"change","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"set to a lavar","rules":[{"t":"set","p":"#:(storeInFile)::estado_maquina_roupa","pt":"flow","to":"em lavagem","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1200,"wires":[["c0b76b224570b3da"]]},{"id":"c0b76b224570b3da","type":"ha-sensor","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"Máquina roupa","entityConfig":"f6ae2d31.c2c2a","version":0,"state":"#:(storeInFile)::estado_maquina_roupa","stateType":"flow","attributes":[{"property":"kwh_lavagem","value":"#:(storeInFile)::energia_roupa","valueType":"flow"},{"property":"duração lavagem","value":"#:(storeInFile)::duração_roupa","valueType":"flow"}],"inputOverride":"allow","outputProperties":[],"x":620,"y":1240,"wires":[["77331463c13cd4f8"]]},{"id":"3d13c1e04d38d409","type":"template","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"men. fim da lavagem app","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"A máquina de lavar loiça acabou a lavagem.\n\\n A lavagem durou {{payload.duration}}\n\\n Gastou {{payload.energy}}kwh\n\\n A lavagem custou {{payload.cost}}€","output":"yaml","x":990,"y":1260,"wires":[["66474c05c9403325"]]},{"id":"0b2af50cb678125a","type":"comment","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"2 event state node \\n com o sensor de \\n potencia instantanea (W)","info":"","x":190,"y":1220,"wires":[]},{"id":"77331463c13cd4f8","type":"function","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"kwh \\n € \\n time","func":"const haStates = global.get('homeassistant').ricardo.states;\nconst entity = haStates['sensor.kwh_maq_roupa'];\nconst kwhcost = haStates['input_text.preco_kwh'];\n\nif(msg.payload) {\n    const data = {\n        state: entity.state,\n        startTime: Date.now(),\n    };\n    context.set('savedState', data);\n} else {\n    const data = context.get('savedState');\n    \n    if (data === undefined) {\n        return;\n    }\n    \n    const energy = parseFloat(Math.abs(entity.state - data.state)).toFixed(2);\n    \n    const cost = parseFloat(Math.abs((entity.state - data.state) * kwhcost.state)).toFixed(3);\n\n    const duration = millisToMinutesAndSeconds(Date.now() - data.startTime);\n    \n    \n    const payload = {\n        energy: energy,\n        duration: duration,\n        cost: cost,\n    }\n\n    msg.payload = payload;\n    \n    return msg;\n}\nfunction millisToMinutesAndSeconds(millis) {\n  let hours = Math.floor(millis / 3600000);\n  let minutes = Math.floor(millis / 60000)%60;\n    let seconds = Math.floor((millis % 60000) / 1000);\n  return hours + \"h\" + (minutes < 10 ? '0' : '') + minutes + \"m\" + (seconds < 10 ? '0' : '') + seconds + \"s\";\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1240,"wires":[["a02c46f23f9fe104","003cabb20a226c63","3d13c1e04d38d409","0907ee60c3c7aa62","8981c692b12bdd80","3176bd48db728f78","a439948c68e8740b"]]},{"id":"0907ee60c3c7aa62","type":"ha-sensor","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"Duração lavagem roupa","entityConfig":"de166284.58c29","version":0,"state":"payload.duration","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":990,"y":1360,"wires":[[]]},{"id":"8981c692b12bdd80","type":"ha-sensor","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"kwh lavagem roupa","entityConfig":"a1c252b7.81cab","version":0,"state":"payload.energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":1400,"wires":[[]]},{"id":"3176bd48db728f78","type":"ha-sensor","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"custo lavagem roupa","entityConfig":"1a20297e25872858","version":0,"state":"payload.cost","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1020,"y":1440,"wires":[[]]},{"id":"a439948c68e8740b","type":"ha-sensor","z":"c315e592.0c1948","g":"57fd999ba62c7535","name":"duração roupa","entityConfig":"de166284.58c29","version":0,"state":"payload.duration","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":760,"y":1440,"wires":[[]]},{"id":"24030ca4.c967a4","type":"server","name":"ricardo","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"a12ed182.4f5be","type":"telegrambot-config","botname":"Finipini","usernames":"","chatIds":"","pollInterval":"300"},{"id":"f6ae2d31.c2c2a","type":"ha-entity-config","server":"24030ca4.c967a4","deviceConfig":"","name":"maquina roupa","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"maquina lavar"},{"property":"icon","value":"mdi:robot"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"total"}],"resend":true,"debugEnabled":false},{"id":"de166284.58c29","type":"ha-entity-config","server":"24030ca4.c967a4","deviceConfig":"","name":"sensor config for tempo","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Duração lavagem roupa"},{"property":"icon","value":"mdi:counter"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"total"}],"resend":true,"debugEnabled":false},{"id":"a1c252b7.81cab","type":"ha-entity-config","server":"24030ca4.c967a4","deviceConfig":"","name":"sensor config for kwh","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"kwh lavagem roupa"},{"property":"icon","value":"mdi:power-plug-outline"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"Wh"},{"property":"state_class","value":"total"}],"resend":true,"debugEnabled":false},{"id":"1a20297e25872858","type":"ha-entity-config","server":"24030ca4.c967a4","deviceConfig":"","name":"custo","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"custo lavagem roupa"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":"monetary"},{"property":"unit_of_measurement","value":"EUR"},{"property":"state_class","value":"total"}],"resend":false,"debugEnabled":false}]