flow_maquina_roupa.json
[{"id":"4a89e0605f5a8e2a","type":"group","z":"1388f3c2f0693481","name":"Gestão dos estados e notificações maquina da roupa","style":{"stroke":"#ff7f7f","fill":"#ffefbf","fill-opacity":"0.13","label":true,"label-position":"s","color":"#ffffbf"},"nodes":["89a2e3920182f0da","508d5f58cc8d8ef9","bdb1898cf6353edd","b822430d4a18c703","eaa71672c12a1a03","9413721ddf7d0d85","8ce451e33b15749c","2b5e8d5adfeb34c2","b4e0c5a67e0b7333","b325dc92745fcb4f","9ecafa0c1722d21d","9a10633aa797e42a","fc2518d291893b04","9e6a28ce687437da","480e7821dbffa16f","1d49b925d7f31a5d","e007784fbf134f7e","0a837286cc83291e"],"x":194,"y":239,"w":1312,"h":390},{"id":"89a2e3920182f0da","type":"template","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"mensagem a lavar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":" Máquina da loiça a lavar","output":"str","x":770,"y":300,"wires":[["eaa71672c12a1a03","8ce451e33b15749c"]]},{"id":"508d5f58cc8d8ef9","type":"server-state-changed","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"ligada","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.shellyem_d3ad78_channel_1_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"15","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"75","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":350,"y":280,"wires":[["2b5e8d5adfeb34c2"],[]]},{"id":"bdb1898cf6353edd","type":"server-state-changed","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"desligada","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.shellyem_d3ad78_channel_1_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2.1","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":340,"y":440,"wires":[["b4e0c5a67e0b7333"],[]]},{"id":"b822430d4a18c703","type":"template","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"men. fim da lavagem tele","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"A máquina de lavar loiça acabou a lavagem.\n- A lavagem durou {{payload.duration}}\n- Gastou {{payload.energy}}kwh\n- A lavagem custou {{payload.cost}}€","output":"str","x":1130,"y":360,"wires":[["eaa71672c12a1a03"]]},{"id":"eaa71672c12a1a03","type":"telegrambot-notify","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"Notify Telegram","bot":"","chatId":"","message":"","parseMode":"","x":1380,"y":340,"wires":[]},{"id":"9413721ddf7d0d85","type":"api-call-service","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"notify Alexa","server":"","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_ricardo","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"<voice name='Ines'><lang xml:lang='pt-PT'> A máquina de lavar, acabou a lavagem. Esta lavagem durou {{payload.duration}}, e gastou {{payload.energy}} quilowatts hora. </lang></voice>\",\"data\":{\"type\":\"announce\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":440,"wires":[[]]},{"id":"8ce451e33b15749c","type":"api-call-service","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"notify mobile app","server":"","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pocox4","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Máquina da Loiça\",\"message\":\"{{payload}}\",\"data\":{\"vibrationPattern\":\"50, 100, 900, 100, 900\",\"channel\":\"maquinas\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":400,"wires":[[]]},{"id":"2b5e8d5adfeb34c2","type":"switch","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"= off","property":"#:(storeInFile)::estado_maquina_roupa","propertyType":"flow","rules":[{"t":"eq","v":"Desligada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":300,"wires":[["89a2e3920182f0da","9ecafa0c1722d21d"]]},{"id":"b4e0c5a67e0b7333","type":"switch","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"= a lavar","property":"#:(storeInFile)::estado_maquina_roupa","propertyType":"flow","rules":[{"t":"neq","v":"Desligada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":380,"wires":[["b325dc92745fcb4f"]]},{"id":"b325dc92745fcb4f","type":"change","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"set to desligada","rules":[{"t":"set","p":"#:(storeInFile)::estado_maquina_roupa","pt":"flow","to":"Desligada","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["9a10633aa797e42a"]]},{"id":"9ecafa0c1722d21d","type":"change","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"set to a lavar","rules":[{"t":"set","p":"#:(storeInFile)::estado_maquina_roupa","pt":"flow","to":"em lavagem","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["9a10633aa797e42a"]]},{"id":"9a10633aa797e42a","type":"ha-sensor","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"Máquina roupa","entityConfig":"f6ae2d31.c2c2a","version":0,"state":"#:(storeInFile)::estado_maquina_roupa","stateType":"flow","attributes":[{"property":"kwh_lavagem","value":"#:(storeInFile)::energia_roupa","valueType":"flow"},{"property":"duração lavagem","value":"#:(storeInFile)::duração_roupa","valueType":"flow"}],"inputOverride":"allow","outputProperties":[],"x":760,"y":380,"wires":[["480e7821dbffa16f"]]},{"id":"fc2518d291893b04","type":"template","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"men. fim da lavagem app","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"A máquina de lavar loiça acabou a lavagem.\n\\n A lavagem durou {{payload.duration}}\n\\n Gastou {{payload.energy}}kwh\n\\n A lavagem custou {{payload.cost}}€","output":"yaml","x":1130,"y":400,"wires":[["8ce451e33b15749c"]]},{"id":"9e6a28ce687437da","type":"comment","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"2 event state node \\n com o sensor de \\n potencia instantanea (W)","info":"","x":330,"y":360,"wires":[]},{"id":"480e7821dbffa16f","type":"function","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"kwh \\n € \\n time","func":"const haStates = global.get('homeassistant').homeAsssistant.states;\nconst entity = haStates['sensor.kwh_maq_roupa'];\nconst kwhcost = haStates['input_text.preco_kwh'];\n\nif(msg.payload) {\n    const data = {\n        state: entity.state,\n        startTime: Date.now(),\n    };\n    context.set('savedState', data);\n} else {\n    const data = context.get('savedState');\n    \n    if (data === undefined) {\n        return;\n    }\n    \n    const energy = parseFloat(Math.abs(entity.state - data.state)).toFixed(2);\n    \n    const cost = parseFloat(Math.abs((entity.state - data.state) * kwhcost.state)).toFixed(3);\n\n    const duration = millisToMinutesAndSeconds(Date.now() - data.startTime);\n    \n    \n    const payload = {\n        energy: energy,\n        duration: duration,\n        cost: cost,\n    }\n\n    msg.payload = payload;\n    \n    return msg;\n}\nfunction millisToMinutesAndSeconds(millis) {\n  let hours = Math.floor(millis / 3600000);\n  let minutes = Math.floor(millis / 60000)%60;\n    let seconds = Math.floor((millis % 60000) / 1000);\n  return hours + \"h\" + (minutes < 10 ? '0' : '') + minutes + \"m\" + (seconds < 10 ? '0' : '') + seconds + \"s\";\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":380,"wires":[["b822430d4a18c703","9413721ddf7d0d85","fc2518d291893b04","1d49b925d7f31a5d","e007784fbf134f7e","0a837286cc83291e"]]},{"id":"1d49b925d7f31a5d","type":"ha-sensor","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"Duração lavagem roupa","entityConfig":"de166284.58c29","version":0,"state":"payload.duration","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1130,"y":500,"wires":[[]]},{"id":"e007784fbf134f7e","type":"ha-sensor","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"kwh lavagem roupa","entityConfig":"a1c252b7.81cab","version":0,"state":"payload.energy","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1150,"y":540,"wires":[[]]},{"id":"0a837286cc83291e","type":"ha-sensor","z":"1388f3c2f0693481","g":"4a89e0605f5a8e2a","name":"custo lavagem roupa","entityConfig":"1a20297e25872858","version":0,"state":"payload.cost","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1160,"y":580,"wires":[[]]},{"id":"f6ae2d31.c2c2a","type":"ha-entity-config","server":"","deviceConfig":"","name":"maquina roupa","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"maquina lavar"},{"property":"icon","value":"mdi:washing-machine"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"de166284.58c29","type":"ha-entity-config","server":"","deviceConfig":"","name":"sensor config for tempo","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Duração lavagem roupa"},{"property":"icon","value":"mdi:counter"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"a1c252b7.81cab","type":"ha-entity-config","server":"","deviceConfig":"","name":"sensor config for kwh","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"kwh lavagem roupa"},{"property":"icon","value":"mdi:power-plug-outline"},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":"energy"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total"}],"resend":true,"debugEnabled":false},{"id":"1a20297e25872858","type":"ha-entity-config","server":"","deviceConfig":"","name":"custo","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"custo lavagem roupa"},{"property":"icon","value":""},{"property":"entity_category","value":"diagnostic"},{"property":"entity_picture","value":""},{"property":"device_class","value":"monetary"},{"property":"unit_of_measurement","value":"EUR"},{"property":"state_class","value":"total"}],"resend":false,"debugEnabled":false}]
